<div class="row-fluid">
  <!-- data table -->
  <div class="span1"></div>
  <div class="span10">
  <ui-view>
  <div class="widget-box">
    <div class="widget-content">
    <div class="dataTables_length">
            <div class="select2-search select2-input">
              <label>
                Search:
                <input type="text" autocomplete="off" class="select2-input" tabindex="0"
                        ng-model="searchKey">
              </label>
            </div>
            <!-- end of search -->
        </div>
    <div ng-repeat="item in stuListCtrl.studentList | filter:searchKey" class="collapsible">
      <div class="widget-title">
        <a href="javascript:;" data-target="#{{item.username}}" data-toggle="collapse" class="collapse">
          <span class="icon"><i class="icon-arrow-right"></i></span>
        <h5>{{item.username}} - {{item.first_name}} {{item.last_name}}</h5>
        </a>
      </div>
      <div class="collapse" id="{{item.username}}">
        <list-table
              name="item.username"
              title="stuListCtrl.title"
              column="stuListCtrl.column"
              detail="item.detail"
              to-state="stuListCtrl.toState"
          ></list-table>
      </div>

    </div>
  </ui-view>
</div>
</div>
</div>
<div class="span1"></div>
</div>
<!--end-main-container-part-->
