<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>{{$ctrl.headTitle}}</h5>
          </div>

          <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th  ng-repeat= "title in $ctrl.columnTitle">{{title}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat = "item in $ctrl.rowContent">
                  <td><input type="checkbox" /></td>
                  <td ng-repeat= "detail in item">{{detail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    <!--  -->