<div class="row-fluid">
  <!-- data table -->
  <div class="span1">
  </div>
  <div class="span10">
  <ui-view>
  <div class="widget-box">
    <div class="widget-content">
    <div id="DataTables_Table_0_length" class="dataTables_length">
            <div class="container span 12">
              <label>
                Search:
                <input type="text" autocomplete="off" class="select2-input" tabindex="0"
                        ng-model="searchKey">
              </label>
            </div>
            <div class="container">
                  <button class="btn btn-success" ui-sref="instrAssignments.create">+ New Assignment</button>
            </div>
            <!-- end of search -->

    </div>
    <div ng-repeat="item in instructorAssignListCtrl.assignments | filter:searchKey" class="collapsible">
      <div class="widget-title">
        <a href="javascript:;" data-target="#{{item.templateId}}" data-toggle="collapse" class="collapse">
          <span class="icon"><i class="icon-arrow-right"></i></span>
        <h5>{{item.name}} - {{item.description}} - Deadline by: {{item.deadline}}</h5>
        </a> 
        <button class="btn btn-danger pull-right" ng-click="instructorAssignListCtrl.deleteAssignment(item.templateId)"> - </button>               
      </div>
      <div class="collapse" id="{{item.templateId}}">
        <list-table
              name="item.name"
              title="instructorAssignListCtrl.title"
              column="instructorAssignListCtrl.column"
              detail="item.detail"
              to-state="instructorAssignListCtrl.toState"
          ></list-table>
      </div>
    </div>
  </ui-view>
  </div>
  </div>
</div>
<div class="span1"></div>
</div>
<!--end-main-container-part-->
