
<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">PR1140</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <!-- Welcome user -->
    <li  class="dropdown" id="profile-messages" >
      <a title="" ui-sref="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user"></i>
        <span class="text">Welcome {{dbCtrl.userInfo.username}}</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a ui-sref="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a ui-sref="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a ui-sref="login.form"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
    <li class=""><a title="" ui-sref="login.form"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar">
  <ul>
    <side-bar-menu ng-repeat="menuItems in dbCtrl.menus"
                  menus="menuItems"></side-bar-menu>
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb">
    <nav-header ng-repeat="navItem in dbCtrl.nav"
                nav="navItem"></nav-header>
      </div>
  </div>
<!--End-breadcrumbs-->
<!-- child view started, the main content -->
<ui-view></ui-view>
<!-- child view ended -->
<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2017 &copy; Department of Pharmacy, NUS. Brought to you by Woody Wang, An Alumni from NUS</a> </div>
</div>

<!--end-Footer-part-->
