  
  <form name="$ctrl.assignmentForm" ng-if="!$ctrl.isInstructor" novalidate>
    <div class="widget-box collapsible">
      <div class="widget-title"> 
      <a href="javascript:;" data-target="#material" data-toggle="collapse"> 
      <span class="icon"><i class="icon-arrow-right"></i></span>
        <h5>Additional Materials</h5>
        </a>
      </div>
      <div class="" id="material">
        <div class="widget-content"> 
            <div ng-bind-html="$ctrl.additional"></div>
        </div>
      </div>
    </div>

    <div class="widget-box">
      <div class="widget-title"> 
        <a href="javascript:;" data-target="#prescription" data-toggle="collapse"> 
        <span class="icon"> <i class="icon-plus-sign"></i> </span>
        <h5>THE PRESCRIPTION</h5>
        </a>
        </div>
        <!-- Prescription form -->
    <div class="" id="prescription">
      <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
              <pdf-viewer 
                  src="$ctrl.prescriptionFileUrl" 
                  on-page-load="$ctrl.pageLoaded(page,total)" 
                  instance-id="$ctrl.prescription.id">
              </pdf-viewer>
        </table>
      </div>
    </div>
  </div>

  <hr>
      <!-- end of prescription form -->
      <!-- Static Input Formulation form-->
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#formulation" data-toggle="collapse"> 
          <h5>1. Formulation</h5>
          </a>
        </div>

        <div class="collapse" id="formulation">
        <div class="widget-content nopadding">
        <ng-form action="#" method="get" class="form-horizontal">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name of Ingredient</th>
                <th>Official Quantity (mg)</th>
                <th>Quantity Used (mg)</th>
                <th>Actual Quantity Weighted (mg)</th>
                <th>Signed by Pharcist</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="item in $ctrl.form.formulation track by $index" class="odd gradeX">
                <td>
                  <div class="control-group">
                  <div class="controls span12">

                  <div ng-if="!$ctrl.viewOnlyMode" inline-text-editor class="inline-text-editor" ng-model="item.ingredient_name" placeholder="Ingredient" contentEditable></div>
                  <div ng-if="$ctrl.viewOnlyMode" ng-bind-html="item.ingredient_name"></div>      
                </div>
              </div>
            </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                <input ng-if="!$ctrl.viewOnlyMode" type="text" class="span11"  ng-model="item.official_quantity"/>
                <input ng-if="$ctrl.viewOnlyMode" disabled type="text" class="span11"  ng-model="item.official_quantity"/>
                </div>
              </div>
            </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                  <input ng-if="!$ctrl.viewOnlyMode" type="text" class="span11"  ng-model="item.used_quantity" />
                  <input ng-if="$ctrl.viewOnlyMode" disabled type="text" class="span11"  ng-model="item.used_quantity" />
                </div>
              </div>
            </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                  <input ng-if="!$ctrl.viewOnlyMode" type="text" class="span11"  ng-model="item.actual_quantity_weighted"/>
                  <input ng-if="$ctrl.viewOnlyMode" disabled type="text" class="span11"  ng-model="item.actual_quantity_weighted"/>
                </div>
                </div>
              </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                  <input disabled type="text" class="span11" placeholder="signature" ng-model="item.signature" />
                </div>
                </div>
              </td>
              </tr>
            </tbody>
          </table>
        </ng-form>
        </div>

      <div ng-if="!$ctrl.viewOnlyMode">
        <button class="btn btn-success pull-right" ng-click="$ctrl.addRow();">+</button>
        <button class="btn btn-danger pull-right" ng-click="$ctrl.deleteRow();">-</button>
      </div>
      <div ng-if="!$ctrl.viewOnlyMode" class="widget-box">
        <div class="alert">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Note:</strong> Extra empty rows will be disregarded.
        </div>
      </div>

      </div>
      </div>

  <!-- scores evaluation  -->
  <ng-form class="form-horizontal" novalidate>
    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
              <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input disabled type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.formulationScores"/>
        </div>
          <div ng-bind-html="$ctrl.formulationComment"></div>
    </div>
  </div>
  </ng-form>

      <!-- end of static table -->
      <!-- Calculation text box -->
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#calculation" data-toggle="collapse"> 
            <h5>2. Calculation</h5>
          </a>
        </div>
        <div class="collapse" id="calculation">
        <div class="widget-content">
          <div class="control-group">
            <ng-form>
              <div class="controls">
                <div></div>
                <div ng-if="!$ctrl.viewOnlyMode" inline-text-editor class="inline-text-editor" ng-model="$ctrl.form.calculation" placeholder="enter calculation here" contentEditable></div>
                <div ng-if="$ctrl.viewOnlyMode" ng-bind-html="$ctrl.form.calculation"></div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>

 <ng-form class="form-horizontal" novalidate>
    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
              <label class="control-label">Scores &amp; Comment:</label>
              <div class="controls">
          <input disabled type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.calculationScores"/>
        </div>
              <div ng-bind-html="$ctrl.calculationComment"></div>
      </div>
    </div>
  </ng-form>

      <!-- end of text box -->
      <!-- Packing text box -->
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#method" data-toggle="collapse"> 
          <h5>3. Method</h5>
          </a>
        </div>
        <div class="collapse" id="method">
        <div class="widget-content">
          <div class="control-group">
            <ng-form>
              <div class="controls">
                <div ng-if="!$ctrl.viewOnlyMode" inline-text-editor class="inline-text-editor" ng-model="$ctrl.form.method" placeholder="enter method here" contentEditable></div>
                 <div ng-if="$ctrl.viewOnlyMode" ng-bind-html="$ctrl.form.method"></div>
              </div>
            </ng-form>
          </div>
        </div>
        </div>
      </div>

  <ng-form class="form-horizontal" novalidate>
    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
              <label class="control-label">Scores &amp; Comment:</label>
              <div class="controls">
          <input disabled type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.methodScores"/>
        </div>
        <div ng-bind-html="$ctrl.methodComment"></div>
      </div>
    </div>
  </ng-form>
      <!-- end of text box -->


      <!-- Packing text box -->
        <div class="widget-box">
          <div class="widget-title">
            <a href="javascript:;" data-target="#packing" data-toggle="collapse"> 
            <h5>4. Packing</h5>
            </a>
          </div>
          <div class="collapse" id="packing">
          <div class="widget-content">
            <div class="control-group">
              <ng-form>
                <div class="controls">
                  <div ng-if="!$ctrl.viewOnlyMode" inline-text-editor class="inline-text-editor" ng-model="$ctrl.form.packing" placeholder="enter packing here" contentEditable></div>
                 <div ng-if="$ctrl.viewOnlyMode" ng-bind-html="$ctrl.form.packing"></div>
                </div>
              </ng-form>
            </div>
          </div>
          </div>
        </div>

  <ng-form class="form-horizontal" novalidate>
    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
              <label class="control-label">Scores &amp; Comment:</label>
              <div class="controls">
          <input disabled type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.packingScores"/>
        </div>
          <div ng-bind-html="$ctrl.packingComment"></div>
      </div>
    </div>
  </ng-form>

      <!-- end of text box -->
      <!-- Storage text box -->
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title">
           <a href="javascript:;" data-target="#storage" data-toggle="collapse">
            <h5>5. Storage Condition</h5>
            </a>
          </div>
        <div class="" id="storage">
          <div class="widget-content">

          <!-- if no file is presented -->
            <div class="control-group" ng-if="!$ctrl.viewOnlyMode">
              <ng-form>
                <div class="controls" >
                  <label class="control-labels">Please select your storage file here:</label>
                    <div class="uploader" >
                        <input
                          type="file"
                          accept="application/pdf"
                          name="storage" 
                          nv-file-select 
                          uploader="$ctrl.uploader[0]"/>
                      <span class="filename">{{$ctrl.uploader[0].queue[0].file.name || 'No file selected'}}</span>
                      <span class="action">Choose File</span>
                    </div>
                </div>
              </ng-form>
            </div>
          
              <pdf-viewer 
                  ng-if="$ctrl.storageFileUrl"
                  src="$ctrl.storageFileUrl"
                  height="$ctrl.labelHeight" 
                  on-page-load="$ctrl.pageLoaded(page,total)" 
                  instance-id="$ctrl.prescription.id">
              </pdf-viewer>
            <!-- if pdf url is presented -->
          </div>
          </div>
        </div>

  <ng-form class="form-horizontal" name="storageLabel" novalidate>
    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
        <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" disabled class="span4" name="scores" placeholder="Scores:" ng-model="$ctrl.storageScores"/>
        </div>
          <div ng-bind-html="$ctrl.storageComment"></div>
      </div>
    </div>

  </ng-form>
    </div>
      <!-- end of text box -->

  <!-- end of storage -->
    <!-- Main Label text box -->
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#mainlabel" data-toggle="collapse">
            <h5>6. Main Label</h5>
          </a>
        </div>
        <div class="" id="mainlabel">
          <div class="widget-content">
            <div class="control-group" ng-if="!$ctrl.viewOnlyMode">
              <ng-form>
                <div class="controls">
                  <label class="control-labels">Please select your storage file here:</label>
                    <div class="uploader">
                      <input   
                        type="file"
                        name="mainLabel" 
                        accept="application/pdf"
                        nv-file-select 
                        uploader="$ctrl.uploader[1]"/>
                      <span class="filename">{{$ctrl.uploader[1].queue[0].file.name || 'No file selected'}}</span>
                      <span class="action">Choose File</span>
                    </div>
                </div>
              </ng-form>
            </div>
                <pdf-viewer 
                    ng-if="$ctrl.mainLabelFileUrl"
                    src="$ctrl.mainLabelFileUrl" 
                    height="$ctrl.labelHeight" 
                    on-page-load="$ctrl.pageLoaded(page,total)" 
                    instance-id="$ctrl.prescription.id">
                </pdf-viewer>
          </div>
        </div>
      </div>


  <ng-form class="form-horizontal" novalidate>

    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
        <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" disabled class="span4" name="scores" placeholder="Scores:" ng-model="$ctrl.mainLabelScores"/>
        </div>
          <div ng-bind-html="$ctrl.mainLabelComment"></div>
      </div>
    </div>

  </ng-form>
  </div>
  </div>
    <!-- end of text box -->
    <!-- Auxiliary text box -->
    <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#auxLabel" data-toggle="collapse">
            <h5>7. Auxiliary Labels</h5>
          </a>
        </div>
        <div class="" id="auxLabel">
          <div class="widget-content">
            <div class="control-group" ng-if="!$ctrl.viewOnlyMode">
              <ng-form>
                <div class="controls">
                  <label class="control-labels">Please select your storage file here:</label>
                  <div class="uploader">
                    <input 
                      type="file"
                      accept="application/pdf"
                      name="auxLabel" 
                      nv-file-select 
                      uploader="$ctrl.uploader[2]"/>
                    <span class="filename">{{$ctrl.uploader[2].queue[0].file.name || 'No file selected'}}</span>
                    <span class="action">Choose File</span>
                  </div>
                </div>
              </ng-form>
            </div>
                <pdf-viewer 
                    ng-if="$ctrl.optionAuxLabelFileUrl"
                    src="$ctrl.optionAuxLabelFileUrl"
                    height="$ctrl.labelHeight"  
                    on-page-load="$ctrl.pageLoaded(page,total)" 
                    instance-id="$ctrl.prescription.id">
                </pdf-viewer>
          </div>
        </div>
      </div>

  <ng-form class="form-horizontal" novalidate>

    <div ng-if="$ctrl.viewOnlyMode" class="widget-box">
      <div ng-class="control-group">
              <label class="control-label">Scores &amp; Comment:</label>
              <div class="controls">
                <input type="text" disabled class="span4" name="scores" placeholder="Scores:" ng-model="$ctrl.auxScores"/>
              </div>
              <div ng-bind-html="$ctrl.auxComment"></div>
      </div>
    </div>

  </ng-form>
  </div>
  
  </div>
    <!-- end of label box -->
<!-- end of label -->
<!-- assignment save -->
<hr>
        <div ng-if="$ctrl.viewOnlyMode">
            <h5>Total Scores: {{$ctrl.totalScores}}</h5>
        </div>

<div class="form-actions" ng-if="!$ctrl.viewOnlyMode">
  <button  type="submit" class="btn btn-warning" ng-click="$ctrl.submitByStudent(false)">Save</button>
  <button  type="submit" class="btn btn-success" ng-click="$ctrl.submitByStudent(true)">Submit</button>
</div>
<!-- end of save -->
<!-- error -->
    <div ng-show="$ctrl.assignmentForm.$submitted || $ctrl.assignmentForm.$touched">
      <div class="alert alert-error" ng-if="$ctrl.error" ng-repeat = "item in $ctrl.error track by $index">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Error!</strong> {{item}} </div>
      <div class="alert alert-success" ng-if="$ctrl.success" ng-repeat="item in $ctrl.success track by $index">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Success!</strong> {{item}} </div>
    </div>

      <div class="alert alert-info" ng-if="$ctrl.info">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Note:</strong> {{$ctrl.info}} </div>

  <!-- end of data table -->
</form>

<!-- /**************************Instructor template*******************************************8***/ -->

  <form name="$ctrl.assignmentForm" ng-if="$ctrl.isInstructor" novalidate>
    <div class="widget-box collapsible">
      <div class="widget-title"> 
      <a href="javascript:;" data-target="#material" data-toggle="collapse"> 
      <span class="icon"><i class="icon-arrow-right"></i></span>
        <h5>Additional Materials</h5>
        </a>
      </div>
      <div class="" id="material">
        <div class="widget-content"> 
          <div ng-bind-html="$ctrl.additional"></div>
          </div>
      </div>
    </div>

    <div class="widget-box">
      <div class="widget-title"> 
        <a href="javascript:;" data-target="#prescription" data-toggle="collapse"> 
        <span class="icon"> <i class="icon-plus-sign"></i> </span>
        <h5>THE PRESCRIPTION</h5>
        </a>
        </div>
        <!-- Prescription form -->
    <div class="" id="prescription">
      <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
              <pdf-viewer 
                  src="$ctrl.prescriptionFileUrl" 
                  on-page-load="$ctrl.pageLoaded(page,total)" 
                  instance-id="$ctrl.prescription.id">
              </pdf-viewer>
        </table>
      </div>
    </div>
  </div>

  <hr>
      <!-- end of prescription form -->
      <!-- Static Input Formulation form-->
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#formulation" data-toggle="collapse"> 
          <h5>1. Formulation</h5>
          </a>
        </div>

        <div class="collapse" id="formulation">
        <div class="widget-content nopadding">
        <ng-form action="#" method="get" class="form-horizontal">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name of Ingredient</th>
                <th>Official Quantity (mg)</th>
                <th>Quantity Used (mg)</th>
                <th>Actual Quantity Weighted (mg)</th>
                <th>Signed by Pharcist</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="item in $ctrl.form.formulation track by $index" class="odd gradeX">
                <td>
                  <div class="control-group">
                  <div class="controls span12">  

                  <div ng-bind-html="item.ingredient_name"></div>      
      
                </div>
              </div>
            </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                <input disabled type="text" class="span11"  ng-model="item.official_quantity"/>
                </div>
              </div>
            </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                  <input disabled type="text" class="span11"  ng-model="item.used_quantity" />
                </div>
              </div>
            </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                  <input disabled type="text" class="span11"  ng-model="item.actual_quantity_weighted"/>
                </div>
                </div>
              </td>
              <td>
                <div class="control-group">
                <div class="controls span12">
                  <input ng-if="$ctrl.evaluateMode" type="text" class="span11" placeholder="signature" ng-model="item.signature" />
                  <input ng-if="!$ctrl.evaluateMode" disabled type="text" class="span11" placeholder="signature" ng-model="item.signature" />
                </div>
                </div>
              </td>
              </tr>
            </tbody>
          </table>
        </ng-form>
        </div>

      </div>
      </div>

  <!-- scores evaluation  -->
  <ng-form class="form-horizontal" name="formulation" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || formulation.scores.$touched) && formulation.scores.$error.score}]">
              <label class="control-label">Scores &amp; Comment:</label>
          <div class="controls">
              <input type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.formulationScores" score />
            <div ng-show="$ctrl.assignmentForm.$submitted || formulation.scores.$touched">
              <div ng-show="formulation.scores.$error.required || formulation.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
            </div>
          </div>
          <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.formulationComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>

  </ng-form>
      <!-- end of static table -->
      <!-- Calculation text box -->
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#calculation" data-toggle="collapse"> 
            <h5>2. Calculation</h5>
          </a>
        </div>
        <div class="collapse" id="calculation">
        <div class="widget-content">
          <div class="control-group">
            <ng-form>
              <div class="controls">
                <div ng-bind-html="$ctrl.form.calculation"></div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>

 <ng-form class="form-horizontal" name="calculation" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || calculation.scores.$touched) && calculation.scores.$error.score}]">
              <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.calculationScores" score />
            <div ng-show="$ctrl.assignmentForm.$submitted || calculation.scores.$touched">
              <div ng-show="calculation.scores.$error.required || calculation.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
            </div>
        </div>
          <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.calculationComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>
  </ng-form>

      <!-- end of text box -->
      <!-- Packing text box -->
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#method" data-toggle="collapse"> 
          <h5>3. Method</h5>
          </a>
        </div>
        <div class="collapse" id="method">
        <div class="widget-content">
          <div class="control-group">
            <ng-form>
              <div class="controls">
                <div ng-bind-html="$ctrl.form.method"></div>
              </div>
            </ng-form>
          </div>
        </div>
        </div>
      </div>

  <ng-form class="form-horizontal" name="method" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || method.scores.$touched) && method.scores.$error.score}]">
              <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.methodScores" score/>
            <div ng-show="$ctrl.assignmentForm.$submitted || method.scores.$touched">
              <div ng-show="method.scores.$error.required || method.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
            </div>
        </div>
          <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.methodComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>
  </ng-form>
      <!-- end of text box -->


      <!-- Packing text box -->
        <div class="widget-box">
          <div class="widget-title">
            <a href="javascript:;" data-target="#packing" data-toggle="collapse"> 
            <h5>4. Packing</h5>
            </a>
          </div>
          <div class="collapse" id="packing">
          <div class="widget-content">
            <div class="control-group">
              <ng-form>
                <div class="controls">
                  <div ng-bind-html="$ctrl.form.packing"></div>
                </div>
              </ng-form>
            </div>
          </div>
          </div>
        </div>

  <ng-form class="form-horizontal" name="packing" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || packing.scores.$touched) packing.scores.$error.score}]">
              <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" class="span2" name="scores" placeholder="Scores:" ng-model="$ctrl.packingScores" score/>
            <div ng-show="$ctrl.assignmentForm.$submitted || packing.scores.$touched">
              <div ng-show="packing.scores.$error.required || packing.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
            </div>
        </div>
          <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.packingComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>

  </ng-form>

      <!-- end of text box -->
      <!-- Storage text box -->
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title">
           <a href="javascript:;" data-target="#storage" data-toggle="collapse">
            <h5>5. Storage Condition</h5>
            </a>
          </div>
        <div class="" id="storage">
          <div class="widget-content">

          <!-- if no file is presented -->
            <div class="control-group" ng-if="!$ctrl.viewOnlyMode">
              <ng-form>
                <div class="controls" >
                  <label class="control-labels">Please select your storage file here:</label>
                    <div class="uploader" >
                        <input
                          type="file"
                          accept="application/pdf"
                          name="storage" 
                          nv-file-select 
                          uploader="$ctrl.uploader[0]"/>
                      <span class="filename">{{$ctrl.uploader[0].queue[0].file.name || 'No file selected'}}</span>
                      <span class="action">Choose File</span>
                    </div>
                </div>
              </ng-form>
            </div>
          
              <pdf-viewer 
                  ng-if="$ctrl.storageFileUrl"
                  src="$ctrl.storageFileUrl"
                  height="$ctrl.labelHeight" 
                  on-page-load="$ctrl.pageLoaded(page,total)" 
                  instance-id="$ctrl.prescription.id">
              </pdf-viewer>
            <!-- if pdf url is presented -->
          </div>
          </div>
        </div>

  <ng-form class="form-horizontal" name="storageLabel" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || storageLabel.scores.$touched) && storageLabel.scores.$error.score}]">
        <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" class="span4" name="scores" placeholder="Scores:" ng-model="$ctrl.storageScores" score/>
            <div ng-show="$ctrl.assignmentForm.$submitted || storageLabel.scores.$touched">
              <div ng-show="storageLabel.scores.$error.required || storageLabel.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
            </div>
        </div>
          <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.storageComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>

  </ng-form>
    </div>
      <!-- end of text box -->

  <!-- end of storage -->
    <!-- Main Label text box -->
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#mainlabel" data-toggle="collapse">
            <h5>6. Main Label</h5>
          </a>
        </div>
        <div class="" id="mainlabel">
          <div class="widget-content">
            <div class="control-group" ng-if="!$ctrl.viewOnlyMode">
              <ng-form>
                <div class="controls">
                  <label class="control-labels">Please select your storage file here:</label>
                    <div class="uploader">
                      <input   
                        type="file"
                        name="mainLabel" 
                        accept="application/pdf"
                        nv-file-select 
                        uploader="$ctrl.uploader[1]"/>
                      <span class="filename">{{$ctrl.uploader[1].queue[0].file.name || 'No file selected'}}</span>
                      <span class="action">Choose File</span>
                    </div>
                </div>
              </ng-form>
            </div>
                <pdf-viewer 
                    ng-if="$ctrl.mainLabelFileUrl"
                    src="$ctrl.mainLabelFileUrl" 
                    height="$ctrl.labelHeight" 
                    on-page-load="$ctrl.pageLoaded(page,total)" 
                    instance-id="$ctrl.prescription.id">
                </pdf-viewer>
          </div>
        </div>
      </div>


  <ng-form class="form-horizontal" name="mainLabel" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || mainLabel.scores.$touched) && mainLabel.scores.$error.score}]">
        <label class="control-label">Scores &amp; Comment:</label>
        <div class="controls">
          <input type="text" class="span4" name="scores" placeholder="Scores:" ng-model="$ctrl.mainLabelScores" score/>
            <div ng-show="$ctrl.assignmentForm.$submitted || mainLabel.scores.$touched">
              <div ng-show="mainLabel.scores.$error.required || mainLabel.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
            </div>
        </div>
        <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.mainLabelComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>

  </ng-form>
  </div>
  </div>
    <!-- end of text box -->
    <!-- Auxiliary text box -->
    <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <a href="javascript:;" data-target="#auxLabel" data-toggle="collapse">
            <h5>7. Auxiliary Labels</h5>
          </a>
        </div>
        <div class="" id="auxLabel">
          <div class="widget-content">
            <div class="control-group" ng-if="!$ctrl.viewOnlyMode">
              <ng-form>
                <div class="controls">
                  <label class="control-labels">Please select your storage file here:</label>
                  <div class="uploader">
                    <input 
                      type="file"
                      accept="application/pdf"
                      name="auxLabel" 
                      nv-file-select 
                      uploader="$ctrl.uploader[2]"/>
                    <span class="filename">{{$ctrl.uploader[2].queue[0].file.name || 'No file selected'}}</span>
                    <span class="action">Choose File</span>
                  </div>
                </div>
              </ng-form>
            </div>
                <pdf-viewer 
                    ng-if="$ctrl.optionAuxLabelFileUrl"
                    src="$ctrl.optionAuxLabelFileUrl"
                    height="$ctrl.labelHeight"  
                    on-page-load="$ctrl.pageLoaded(page,total)" 
                    instance-id="$ctrl.prescription.id">
                </pdf-viewer>
          </div>
        </div>
      </div>

  <ng-form class="form-horizontal" name="auxLabel" novalidate>
    <div ng-if="$ctrl.evaluateMode" class="widget-box">
      <div ng-class="[{'control-group':true},{'error': ($ctrl.assignmentForm.$submitted || auxLabel.scores.$touched) && auxLabel.scores.$error.score}]">
              <label class="control-label">Scores &amp; Comment:</label>
              
              <div class="controls">
                <input type="text" class="span4" name="scores" placeholder="Scores:" ng-model="$ctrl.auxScores" score/>

                <div ng-show="$ctrl.assignmentForm.$submitted || auxLabel.scores.$touched">
                  <div ng-show="auxLabel.scores.$error.required || auxLabel.scores.$error.score" class="help-inline">Please provide a score (0~100)</div>
                </div>
              </div>
              <div inline-text-editor class="inline-text-editor" ng-model="$ctrl.auxComment" placeholder="Comment:" contentEditable></div> 
      </div>
    </div>

  </ng-form>
  </div>
  
  </div>
    <!-- end of label box -->
<!-- end of label -->
<!-- assignment save -->
<hr>
        <div ng-if="$ctrl.viewOnlyMode">
            <h5>Total Scores: {{$ctrl.totalScores}}</h5>
        </div>

<div class="form-actions" ng-if="$ctrl.evaluateMode">
  <button  type="submit" class="btn btn-success" ng-click="$ctrl.submit()">Submit</button>
  <!-- $ctrl.assignmentForm.$valid  -->
</div>
<!-- end of save -->
<!-- error -->
    <div ng-show="$ctrl.assignmentForm.$submitted || $ctrl.assignmentForm.$touched">
      <div class="alert alert-error" ng-if="$ctrl.error" ng-repeat="item in $ctrl.error track by $index">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Error!</strong> {{item}} </div>
      <div class="alert alert-success" ng-if="$ctrl.success" ng-repeat="item in $ctrl.success track by $index">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Success!</strong> {{item}} </div>
    </div>

      <div class="alert alert-info" ng-if="$ctrl.info">
          <button class="close" data-dismiss="alert">×</button>
          <strong>Note:</strong> {{$ctrl.info}} </div>

  <!-- end of data table -->
</form>







